<header>
  <nav class="nav-container">
    <div>
      <a href="/">
        Open Source Books
      </a>
    </div>

    <ul>
      <li>
        <a href="/">
          Authors
        </a>
      </li>
    </ul>
  </nav>
</header>