<article>
  <h1>
    <%= metadata.title %>

    <span class="tiny">
      <%= metadata.published %>
    </span>
  </h1>
  <h4>By
    <%= metadata.author %>
  </h4>

  <div class="story-container">
    <% paragraphs.forEach(paragraph => { %>
    <% if (paragraph !== '') { %>
    <p>
      <%= paragraph %>
    </p>
    <% } %>
    <% }) %>
  </div>
</article>