<article>
  <h1>
    <%= metadata.title %>
  </h1>
  <h4 class="author">By
    <%= metadata.author %>
  </h4>
  <span class="tiny">
    <%= metadata.published %>
  </span>

  <div class="story-container">
    <% paragraphs.forEach(paragraph => { %>
    <% if (paragraph !== '') { %>
    <p>
      <%= paragraph %>
    </p>
    <% } %>
    <% }) %>
  </div>
</article>