<!DOCTYPE html>

<head>
  <!-- Add Metadata -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
  <%- include('../partials/_header'); %>

  <div class="container">
    <h1>
      <%= author %> Stories
    </h1>
    <%- include('../partials/_stories', { stories }); %>
  </div>
  <script src="" async defer></script>
</body>

</html>