<!DOCTYPE html>

<head>
  <!-- Add Metadata -->
</head>

<body>
  <%- include('../partials/_header'); %>
  <h2>Authors</h2>
  <%- include('../partials/_authors', { authors }); %>
  <script src="" async defer></script>
</body>

</html>