<!DOCTYPE html>

<head>
  <!-- Add Metadata -->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
  <%- include('../partials/_header'); %>
  <h2>Authors</h2>
  <%- include('../partials/_authors', { authors }); %>
  <script src="" async defer></script>
</body>

</html>